
body{
    background-color: rgb(226, 226, 226);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }   

header{
    width: 100%; 
    background: white;
    height: 80px;
    border-bottom: 1px solid #e5ac00;
    }

#logo{
    float: left;
    padding: 10px;
    margin: 10px;
    width: 270px;
    position: relative;
    margin: auto;
}
h1{
    font-size: 28px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 250px;
    height: 60px;
    margin-left: 190px;
    padding-top:15px;
    text-align:center;
    background-color: rgb(19, 90, 184);  
    }

.nav-container {
    float:right;
    width: 300px;
    height: 80px;
    margin: auto;
    padding-top: 30px;
    padding-right: 70px;
}

.nav-item{
    font-size: 16px;
    width:33.3%;
    float:left;
    color: lightgrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center; 
    }

.nav-item:hover{
    color: #f0bb28;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

.Maincontent{
    width:75%;
    padding: 10px;
    background-color:white;
    margin: 30 auto 0;
    margin: 0 auto;
    border: 0.5px solid lightgrey;
    }

h2{
    font-size: 40px;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #035594;
    padding: 15px;
    margin: 10px 10px 10px 25px;
    border-style: none none solid none ;
    border-color: lightgray;
    margin: 5px;   
    }

#aboutme{
    color: grey;
    font-size: 16px;
    line-height: 30px;
    width: 90%;
    padding: 5px;
    margin: 5px;
}

#aboutimg{
    width: 250px;
    height: 180px;
    float: left;
    padding: 10px;
    margin: 10px;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    padding: 20px;
    text-align: center;
    background: white;
    margin-top: 20px;
    font-size: smaller;
    color: #f0bb28;
    border-top: 1px solid #f0bb28;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

.footer-item{
    color: lightgrey;
    font-size: 14px;
    width:25%;
    float:right;
    text-align: center; 
}

.footer-item:hover{
    color: #f0bb28;
}

#copyright{
    font-size: 12px;
    float:left;
    text-align: center; 
    position:absolute;
    right:0;
    left:0;
}


.img-container {
    float: left;
    width: 33.33%;
    position: relative;
    width: 300px;
    height: 210px;
}

.portfolio{
    width: 250px;
    height: 180px;
    float: left;
    position: relative;
    margin: 25px;
}

.text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 84%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    width: 250px;
    color: white;
    background-color: rgb(19, 90, 184);
    text-align: center;
    padding: 10px;
    margin: 10px 11px 10px 11px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

//contactform

form {
    font-family: Arial, Helvetica, sans-serif;
    color:grey;
    }
    * {box-sizing: border-box;}
                
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}                                   
                
input[type=submit] {
    background-color: rgb(19, 90, 184);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}                 
                
input[type=submit]:hover {
    background-color:rgb(115, 171, 255);
}                 
                
.contactContainer {
    color: #024272;;
    border-radius: 5px;
    padding: 0px 20px 10px 20px;
    position: left 50%;
    margin: 0 auto;
}

#main{
    text-align:center;
    border-style: none none none none ;

}

.mainpage{
    text-align:center;
}